/vendor/
node_modules/
npm-debug.log
yarn-error.log

# node js
/whatsapp-api/node_modules
/whatsapp-api/.wwebjs_auth/*
/whatsapp-api/.wwebjs_auth/session/*
/whatsapp-api/.wwebjs_auth/session/Default/*
/whatsapp-api/.wwebjs_cache/*

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
